html {
    scroll-behavior: smooth;
}

section {
    margin-bottom: 100px;
}


body {
    padding-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
    background: black;
    color: white;
    max-width: max-content;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    text-shadow:
        -0.044em 0.034em #F08B00,
        -0.040em 0.030em #F08B00,
        -0.035em 0.025em #F08B00,
        -0.030em 0.020em #F08B00,
        -0.025em 0.015em #F08B00,
        -0.020em 0.010em #F08B00,
        -0.015em 0.005em #F08B00
}

#introduction {
    min-width: 274px;
    max-width: 50vw;
    color: gray;
}

.description-fadeout {
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    min-width: 274px;
    max-width: 50vw;
    max-height: 15vh;
    color: gray;
    overflow: hidden;
}

@media screen and (min-width: 900px) {
    /* Only applies when its over a certain width. will make the buttons move to the right. */
    .info-and-buttons {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
}
@media screen and (max-width: 900px) {
    /* Button at the bottom and horizontally aligned only at certain width */
    .horizontalButtons {

        float: left;
        display: flex;
        max-width: 100%;
        width: 100%;
    }
}


.horizontalButtons form {
    width: 100%;
    margin-right: 10px;
}

.horizontalButtons .button {
    margin: 10px;
}

.tag p {
    display: inline-block;
    font-weight: bold;
    font-size: 0.8em;
    width: 3.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    margin: 5px;
}

.html {
    color: #BF6000;
    background-color: #bf5f0056;
}

.css {
    color: #05689D;
    background-color: #05689d5b;
}

.js {
    color: yellow;
    background-color: rgba(255, 255, 0, 0.35);
}

.large {
    margin: 20px 0px;
    min-width: 274px;
    width: 50vw;
    box-shadow:
        1.0em 1.0em #F08B00,
        0.950em 0.950em #F08B00,
        0.900em 0.900em #F08B00,
        0.850em 0.850em #F08B00,
        0.800em 0.800em #F08B00,
        0.750em 0.750em #F08B00,
        0.700em 0.700em #F08B00,
        0.650em 0.650em #F08B00,
        0.600em 0.600em #F08B00,
        0.550em 0.550em #F08B00,
        0.500em 0.500em #F08B00,
        0.450em 0.450em #F08B00,
        0.400em 0.400em #F08B00,
        0.350em 0.350em #F08B00,
        0.300em 0.300em #F08B00,
        0.250em 0.250em #F08B00,
        0.200em 0.200em #F08B00,
        0.150em 0.150em #F08B00,
        0.1em 0.100em #F08B00;

}

/* img { */
/* 
    margin: 20px 0px;
    min-width: 274px;
    width: 50vw;
    box-shadow:
        1.0em 1.0em #F08B00,
        0.950em 0.950em #F08B00,
        0.900em 0.900em #F08B00,
        0.850em 0.850em #F08B00,
        0.800em 0.800em #F08B00,
        0.750em 0.750em #F08B00,
        0.700em 0.700em #F08B00,
        0.650em 0.650em #F08B00,
        0.600em 0.600em #F08B00,
        0.550em 0.550em #F08B00,
        0.500em 0.500em #F08B00,
        0.450em 0.450em #F08B00,
        0.400em 0.400em #F08B00,
        0.350em 0.350em #F08B00,
        0.300em 0.300em #F08B00,
        0.250em 0.250em #F08B00,
        0.200em 0.200em #F08B00,
        0.150em 0.150em #F08B00,
        0.1em 0.100em #F08B00; */

/* } */

.button {

    font-size: medium;
    font-weight: 600;
    height: 2em;
    width: 100%;
    color: white;
    background-color: #F08B00;
    border-color: white;
    border-width: 1px;
    box-shadow:
        0.200em 0.200em #F08B00,
        0.190em 0.190em #F08B00,
        0.180em 0.180em #F08B00,
        0.170em 0.170em #F08B00,
        0.160em 0.160em #F08B00,
        0.150em 0.150em #F08B00,
        0.140em 0.140em #F08B00,
        0.120em 0.120em #F08B00,
        0.1em 0.100em #F08B00;
}

.button:active {
    transform: translate(0.2em, 0.2em);
    box-shadow: none;
}

footer p {
    color: #F08B00;
}

@media screen and (max-width: 900px) {

    /* Hides navbar if its under a certain threshhold. Small screens wont see nav bar */
    .hideorshow {
        display: none;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* width: 100%; */
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #F08B00;
}

nav {
    border-right: none;
}

/* img:hover {
    padding-left: 1em;
    padding-top: 1em;
    box-shadow: none;
    cursor: pointer;
} */